.card_container {
    transition: 200ms;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #4e0c86;
    padding: 12px 8px;
    border-radius: 8px;
}

.card_container>div {
    justify-content: space-between;
}

.card_container>div:first-child {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_container>div:last-child {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_container>div:nth-child(2) {
    width: 20%;
    display: flex;
    justify-content: center;
}

.card_container_team {
    display: flex;
    align-items: center;
    border-width: 26px 0 26px 10px;

}

.card_container_team_identifier {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card_container_team_identifier img {
    height: 32px;
    width: 32px;
}

.card_container_vs {
    margin-left: 8px;
    margin-right: 8px;
    border-right: 5px solid red;
    border-left: 5px solid rgb(0, 255, 55);
}

.card_container:hover {
    transform: scale(1.01);
    opacity: 70%;
}

.card_header {
    width: 100%;
    max-width: 800px;
    min-width: 320px;
}

.card_header div:first-child {
    display: flex;
    justify-content: space-between;
}